<p><%= button_to "View All Items", menu_items_path(menu), method: :get %></p>
<p><%= button_to "Add New Items", new_menu_item_path(menu), method: :get %></p>
<p><%= button_to "Edit Menu Name", edit_menu_path(menu), method: :get %></p>
<p><%= button_to "Delete Menu Name", menu_path(menu), method: :delete %></p>