<p><%= button_to "Add New Item", new_item_path, method: :get %></p>
<p><%= button_to "Edit Item", edit_item_path(item), method: :get %></p>
<p><%= button_to "Delete Item", item_path(item), method: :delete %></p>