/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* The navigation bar */
#fixedbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #07183B;
    max-width: 100%;
    position: fixed;
}

#nav {
    float: left;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  /* Change the link color to #111 (black) on hover */
#nav a:hover {
    background-color: #4F6590;
}

.wrapper {
    background: rgb(222, 224, 231);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.5%; /* 18px / 800px */
    width: 85%;
}

.break {
    clear: both;
}

header.break {
    border-bottom: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #4A6599;
    color: #333;
    font-family: Helvetica;
    line-height: 18px;
}

.error_explanation {
    border: 2px solid rgb(124, 4, 4);
    border-radius: 10px;
    background-color: rgb(245, 186, 186);
    padding: 10px;
    margin: 10px;
}

.error_explanation li {
    list-style-type: none;
}

#notice {
    border: 2px solid rgb(21, 83, 2);
    border-radius: 10px;
    background-color: rgb(133, 202, 133);
    padding: 10px;
    margin: 10px; 
    position: relative;
    top: 47px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.field_with_errors {
    /* border: 2px solid rgb(124, 4, 4); */
    /* background-color: rgb(245, 186, 186); */
    border-left: 2px solid rgb(124, 4, 4);
}
